jena/
/bin/
/target/
*~
*.*~
/technotes.aux
/technotes.dvi
/technotes.log
/technotes.pdf
/technotes.synctex.gz
/doc/
/technotes.out
/tempPartial00000.aux
/tempPartial00000.log
/tempPartial00000.out
/tempPartial00000.pdf
/greek.aux
/greek.log
/greek.out
/greek.pdf
/greek.synctex.gz
